/*Flag content*/
#flagsContainer{
    background-color:rgb(248, 248, 248);
    border-radius: 5px;
    width: 700px;
    height: 380px;
    padding: 20px;
}

/*
button {
    all: unset;
    cursor: pointer;
    background-color: Transparent;
  }
*/
#countryname{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
    border-radius: 5px;
    width: 450px;
    height: 45px;
    background-image:linear-gradient(200deg, rgba(22, 18, 31, 0.014), rgba(0, 0, 0, 0.527)), url("https://i.pinimg.com/736x/d1/63/80/d16380167c4036f23ecd01b6977897fe.jpg");
}
.flags{
    height: 80px;
    width: 120px;
    margin: 25px 27px;
}

.flags:hover{
    outline: 4px solid rgb(160, 151, 153);
}
/*Side*/
@media(max-width: 730px){
    #flagsContainer{
        width: 450px;
        height: 450px;
        padding: 15px;
    }
    .flags{
        height: 70px;
        width: 110px;
        margin: 20px 18px;
    }
}

/*Phone*/
@media(max-width: 530px){
    #countryname{
        width: 320px;
    }
    #flagsContainer{
        width: 290px;
        height: 520px;
        padding: 15px;
    }
    .flags{
        height: 55px;
        width: 95px;
        margin: 14px 25px;
    }
}


/*Min*/
@media(max-height: 500px){
    #title{
        font-size: 20px;
        height: 30px;
    }
    #flagsContainer{
        width: 450px;
        height: 150px;
    }
    .flags{
        height: 35px;
        width: 60px;
        margin: 7px 25px;
    }
}