@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body,
#container,
#title,
#Games-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #4b3939;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    flex-direction: column;
    background-color:#ffff;
    width: 900px;
    height: 580px;
    border-radius: 5px;
    box-shadow: -14px 14px 19px -1px #20221c;
    margin: 35px;
}

/*Home*/
#title{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

#title-container{
    display: flex;
    align-items: center;
    width: 790px;
}

/*Games box*/
#choose{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    right: 150px;
    color: white;
    width: 230px;
    height: 380px;
    margin: 10px;
    background-size:auto;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position:bottom;
    padding: 10px;
}

h2{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

p{
    font-size: 13px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#redirect{
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
}

/*Choose flags background*/
.GuessFlag{
    background-image:linear-gradient(200deg, rgba(22, 18, 31, 0.014), rgba(0, 0, 0, 0.527)), url("https://i.pinimg.com/736x/d1/63/80/d16380167c4036f23ecd01b6977897fe.jpg");}
.GuessCountry{
    background-image:linear-gradient(115deg, rgba(22, 18, 31, 0.014), rgba(0, 0, 0, 0.527)), url("https://as1.ftcdn.net/v2/jpg/02/35/08/90/1000_F_235089049_1vbv6tn8pWC3y2nmKIywIR6W7S3oBqP2.jpg");}
.ChooseCategory{
    background-image:linear-gradient(115deg, rgba(22, 18, 31, 0.014), rgba(0, 0, 0, 0.527)), url("https://www.artyfactory.com/art_appreciation/great-artists/claude-monet/monet-images/monet-irises.jpg");}

/*Side*/
@media(max-width: 730px){
    #title-container{
        width: 420px;
    }
    #title{
        font-size: 26px;
    }
    #container{
        width: 550px;
        height: 650px;
    }
    #Games-container{
        width: 450px;
        height: 500px;
        flex-direction: column;
    }
    #choose{
        width: 420px;
        height: 130px;
    }
}

/*Phone*/
@media(max-width: 530px){
    #title-container{
        width: 230px;
    }
    #title{
        font-size: 26px;
    }
    #container{
        width: 370px;
        height: 650px;
    }
    #Games-container{
        width: 290px;
        height: 500px;
        flex-direction: column;
    }
    #choose{
        width: 236px;
        height: 130px;
    }
}

/*Min*/
@media(max-height: 500px){
    #title-container{
        width: 470px;
        margin-bottom: 10px;
    }
    #container{
        width: 550px;
        height: 300px;
        margin: 10px;
    }
    #Games-container{
        width: 450px;
        height: 150px;
        flex-direction: row;
    }
    #choose{
        width: 130px;
        height: 170px;
        font-size: 18px;
    }
}